<template>
  <div class="home">
    <Header />
    <main class="container">
      <div class="mt-5 mb-5 text-center ">Рестораны Чебоксар</div>
      <ul class="mainMenu col-md-12 row">
        <li
          class="cart d-flex flex-wrap justify-content-center align-items-center col-xl-4 col-md-6"
          v-for="(item, i) in allRestaraunts"
          :key="i"
        >
          <router-link
            class="cart-restaurant"
            :to="{
              name: 'Restarant',
              params: {
                id: item.id,
              },
            }"
          >
            <!-- {{ item.address }} -->
            <img class="itemImg" :src="item.logo" />
            <div class="name-restaurant text-center mt-3 mb-3">
              {{ item.name }}
            </div>
          </router-link>
        </li>
      </ul>
    </main>
    <Footer />
  </div>
</template>

<script>
// @ is an alias to /src
import axios from 'axios'
import Header from '../components/Header'
import Footer from '../components/Footer'
export default {
  components: {
    Header,
    Footer,
  },
  name: 'Home',
  data() {
    return {
      allRestaraunts: [],
      id: '',
    }
  },
  created() {
    axios
      .get('https://605b03b727f0050017c05e33.mockapi.io/restaurant/')
      .then((responce) => {
        if (responce.status === 200) {
          this.allRestaraunts = responce.data
        }
      })
  },
}
</script>

<style scoped>
.itemImg {
  width: 300px;
  height: 200px;
  background-size: cover;
  border-radius: 5%;
}

.name-restaurant {
  text-decoration: none;
  background: #000;
  color: #fff;
}

.cart-restaurant {
  text-decoration: none;
}

.cart {
}
</style>
