<template>
  <div>
    <footer>
      <div class="footer-menu">
        <div>© All rights reserved 2021</div>
      </div>
    </footer>
  </div>
</template>

<script>
export default {}
</script>

<style scoped>
footer {
  height: 100px;
  background: #000;
  border-radius: 15% 15% 0 0;
  height: 100px;
  margin-top: 100px;
}
.footer-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.footer-menu div {
  margin-top: 40px;
}
</style>
