<template>
  <div>
    <div class="Restaurant">
      <Header />
      <main class="menuRestaurant">
        <div>Состав меню</div>
        <ul v-for="(item, i) in goods" :key="i">
          <li>Название {{ item.name }}</li>
          <label>Описание {{ item.title }}</label>
          <br />
          <label>Стоимость: {{ item.price }} рублей</label>
          <br />
          <button @click="addProduct(item)">Добавить в корзину</button>
        </ul>
      </main>
      <Footer />
    </div>
  </div>
</template>

<script>
import server from '../service/api'
import Header from '../components/Header'
import Footer from '../components/Footer'
export default {
  data() {
    return {
      id: 0,
      loading: false,
      post: null,
      error: null,
      item: {},
      restaurantId: 0,
      menuId: 0,
      goodsId: 0,
      menuCategories: [],
      goods: [],
    }
  },
  components: {
    Header,
    Footer,
  },

  async created() {
    try {
      this.restaurantId = this.$route.params.id_restarant
      this.menuId = this.$route.params.id_menu
      this.goods = await server.loadGoods(this.restaurantId, this.menuId)
      this.loading = true
    } catch (e) {
      console.log(e)
    }
    if (!this.item) {
      alert('error')
    }
    this.loading = false
  },

  methods: {
    addProduct(good) {
      this.$bus.emit('add-cart', {
        goodId: good.id,
        name: good.name,
        count: 1,
        price: good.price,
      })
    },
  },
}
</script>

<style scoped></style>
