<template>
  <div>
    <Header />
    <h3 class="text-center mt-3 mb-3">Размещение заказа</h3>
    <div class="d-flex justify-content-center">
      <form
        action=""
        class="d-flex justify-content-center flex-wrap flex-column"
      >
        <label for="name">ФИО: </label>
        <input type="text" name="name" required />
        <small>Формат: Иванов Иван Иванович</small>
        <label for="email">Email: </label>
        <input type="email" name="email" required />
        <small>Формат: mail@mail.ru</small>
        <label for="phone">Телефон: </label>
        <input type="tel" name="phone" required />
        <small>Формат: +7(777)-777-77-77</small>
        <label for="address">Адрес доставки: </label>
        <input type="text" name="address" required />
        <ul class="list-group mt-3 mb-3">
          <li class="list-group-item" v-for="(item, i) in cartItem" :key="i">
            <p>Название: {{ item.name }}</p>
            <p>Количество: {{ item.count }}</p>
            <p>Цена: {{ item.price }}</p>
          </li>
          <li class="list-group-item">Сумма заказа: {{ total }}</li>
        </ul>
        <b-button type="submit" class="btn btn-success" v-on:click="payOrder">
          Оплатить заказ
        </b-button>
        <small>Отменить заказ можно в течение 5 минут*</small>
        <small>Звонить по номеру 7(777)-777-77-77</small>
      </form>
    </div>
    <Footer />
  </div>
</template>

<script>
import Header from '../components/Header'
import Footer from '../components/Footer'
import Vue from 'vue'
export const eventBus = new Vue()
export default {
  data() {
    return {}
  },
  components: {
    Header,
    Footer,
  },
  methods: {
    payOrder() {
      alert('Оплата успешно завершена!')
      setTimeout(() => {
        window.location.href = '/'
      }, 1000)
    },
  },
  created() {
    this.cartItem = this.$attrs.cartItem
    this.total = this.$attrs.total
    eventBus.$on('goToOrder', this.cartItem, this.total)
  },
}
</script>

<style></style>
